<h1 mat-dialog-title>{{title}} de Aniversariantes</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Nome: </mat-label>
        <input class="caixa" matInput [(ngModel)]="dataHappy.name">
    </mat-form-field>
</div>


<div mat-dialog-content>

    <mat-form-field appearance="fill">
        <mat-label>Data de Aniversário: </mat-label>
        <input class="caixa" matInput [(ngModel)]="dataHappy.date" [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>

<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Congregação: </mat-label>
        <input class="caixa" matInput [(ngModel)]="dataHappy.congregacao">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button [mat-dialog-close]="dataHappy" cdkFocusInitial>{{button}}</button>
</div>